<div class="container-fluid">
  <div class="row offset-1 py-3">
    <h2>検索結果一覧</h2>
  </div>
  
  <table class="table table-hover table-inverse">
    <% if @range == "User" %>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <div class="row">
              <% if user.image.attached? %>
                <%= image_tag user.image, size:"100x100", class: "mt-3 rounded-circle"; %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100", class: "mt-3 rounded-circle"; %>
              <% end %>
              <div class="col my-auto">
              <%= link_to user.account,admin_user_path(user.id) %></br>
              <%= user.name %>
              </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <tbody>
        <% @posts.each do |post| %>
          <% if params[:sex].present? %> 
            <% if params[:sex] == post.sex %>
              <tr>
                <td><%= link_to(image_tag(post.image, size: "100x100"), admin_post_path(post.id), class: "card-img-top text-center") %></td>
                <td><%= link_to post.user.account,admin_user_path(post.user_id) %></td>
                <td><%= post.sex %></td>
                <td><%= post.user.height %></td>
                <td><%= post.title %></td>
              </tr>
            <% end %>
          <% else %>
            <% if @range == "Post" %>
              <tr>
                <td>
                  <%= link_to(image_tag(post.image, size: "100x100"), admin_post_path(post.id), class: "card-img-top text-center") %>
                  <%= link_to (post.title), admin_post_path(post.id) %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>

