<div class="container-fluid">
  <div class="row offset-1 py-3">
    <h2>いいね一覧</h2>
  </div>
  
  <div class="card-list-container">
    <div class="d-flex flex-row flex-wrap text-center">
      <% @favorite_posts.each do |post| %>
        <div class="card shadow-lg" style="width:300px;">
          <%= link_to(image_tag(post.image, size: "200x200"), post_path(post.id), class: "card-img-top text-center") %>
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <div class="card-title">
                  <%= link_to post.user.account, user_path(post.user.id) %></br>
                  <%= post.sex %> | <%= post.user.height %>cm</br>
                  <%= post.title %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  
</div>