<!DOCTYPE html>
<html>
  <head>
    <title>Coordination</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/eb13297c3e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <% if admin_signed_in? %>
            <a class="navbar-brand p-3" , href="<%= admin_posts_path %>" >LOGO</a>
          <% else %>
            <a class="navbar-brand p-3" href='/'>LOGO</a>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item mr-5">
                <%= link_to search_path do %>
                  <h3 class="text-center text-dark"><i class="fa-solid fa-magnifying-glass"></i></h3>
                  <h6 class="text-center text-dark">search</h6>
                <% end %>
              </li>
              <li class="nav-item mr-5">
                <%= link_to user_path(current_user.id) do %>
                  <h3 class="text-center text-dark"><i class="fa-solid fa-user"></i></h3>
                  <h6 class="text-center text-dark">my page</h6>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <h3 class="text-center text-dark"><i class="fa-solid fa-right-from-bracket"></i></h3>
                  <h6 class="text-center text-dark">log out</h6>
                <% end %>
            <% elsif admin_signed_in? %>
              <li class="nav-item mr-5">
                <%= link_to search_path do %>
                  <h3 class="text-center text-dark"><i class="fa-solid fa-magnifying-glass"></i></h3>
                  <h6 class="text-center text-dark">search</h6>
                <% end %>
              </li>
              <li class="nav-item mr-5">
                <%= link_to admin_top_path do %>
                    <h3 class="text-center text-dark"><i class="fa-solid fa-users"></i></h3>
                    <h6 class="text-center text-dark">users</h6>
                <% end %>
              </li>
              <li class="nav-item mr-5">
                <%= link_to admin_posts_path do %>
                    <h3 class="text-center text-dark"><i class="fa-regular fa-paste"></i></h3>
                    <h6 class="text-center text-dark">posts</h6>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <h3 class="text-center text-dark"><i class="fa-solid fa-right-from-bracket"></i></h3>
                  <h6 class="text-center text-dark">log out</h6>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item mr-5">
                <%= link_to search_path do %>
                  <h3 class="text-center text-dark"><i class="fa-solid fa-magnifying-glass"></i></h3>
                  <h6 class="text-center text-dark">search</h6>
                <% end %>
              </li>
              <li class="nav-item mr-5">
                <%= link_to new_user_registration_path do %>
                  <h3 class="text-center text-dark"><i class="fa-solid fa-right-to-bracket"></i></h3>
                  <h6 class="text-center text-dark">sign up</h6>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path do %>
                  <h3 class="text-center text-dark"><i class="fa-solid fa-lock-open"></i></h3>
                  <h6 class="text-center text-dark">sign in</h6>
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
      

    </header>
    <main class="mb-auto">
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            
          </div>
          <div class="col-md-8">
            
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
</html>
